#titulo{
    font-family: "Freestyle Script";
    font-size: 35px;
    text-align: center;
}

#tabla{
    margin-left: 5%;
    margin-right: 5%;
}

#tabla td{
    font-family: "Times New Roman";
    font-size: 20px;
}

.col_numeros{
    height: 20px;
    text-align: center;
    width: 7%;
}
.col_elemento{
    height: 20px;
    text-align: center;
    width: 15%;
}
.col_definicion{
    height: 20px;
    text-align: justify;
    width: 50%;
}





