/*Estilos para el encabezado*/
*{
    padding: 0px;
    margin: 0px;
}
#head{
    background-color:   #80deea;
    height: 150px;
}
#imghead{
    width: 10%;
    height: 100px;
    display: inline-block;
}
.tituloshead{
    float: right;
    width: 85%;
}
.titulosh1{
    text-shadow: rgb(0, 0, 0) 4px 4px 20px;
    font-family: "Freestyle Script";
    font-size: 48px;
}
.titulosh2{
    text-shadow: rgb(0, 0, 0) 4px 4px 20px;
    font-family: "Freestyle Script";
    font-size: 40px;
}

.tituloshead h1,.tituloshead h2{
    margin: 5px;
    text-align: center;
}

#navegacion{
    background-color:   #42a5f5  ;
    height: 40px;
    margin: 0px;
}

.elementos_navegacion{
    display: inline-block;
    margin-left: 5.5%;
    margin-right: 5.5%; 
    height: 40px;
    width: 12%;
    align-items: center;
    border-radius: 10px;
    padding-top: 4px;
    transition: transform 0.3s ease-in-out 0.0s;
}
.elementos_navegacion:hover{
    background-color: #1565c0;
    margin-top: 0px;
    transform: scale(1.1);
}

.linksbotones{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    height: 38px;
}

.linksbotonesnav{
    color: black;
    display: block;
    font-family: "Times New Roman";
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    height: 38px;
    text-decoration: none;
}

